<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Países y Capitales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Países y sus Capitales</h1>
        <table class="table table-bordered mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>País</th>
                    <th>Capital</th>
                </tr>
            </thead>
            <tbody>
                {% for row in paises %}
                <tr>
                    <td>{{ row.pais }}</td> <!-- Se accede al dato pais de la tabla paises -->
                    <td>{{ row.capital }}</td> <!-- Se accede al dato capital de la tabla paises -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

