<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask AJAX MAP</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>


</head>

<body>
    <h1>Prueba de Flask con AJAX</h1>

    <!-- Original: Saludo -->
    <label for="name">Nombre:</label>
    <input type="text" id="name" placeholder="Escribe tu nombre">
    <button id="send-btn">Enviar</button>
    <p id="response"></p>

    <!-- Buscar ubicación -->
    <label for="place">Lugar:</label>
    <input type="text" id="place" placeholder="Escribe un lugar">
    <button id="location-btn">Buscar ubicación</button>
    <p id="location-response"></p>

    <!-- Contenedor del mapa -->
    <div id="map" style="height: 400px; width: 100%;"></div>

    <script src="/static/script.js"></script>


</body>

</html>