<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/iniciar_sesion" method="POST">
        <h2>Inicio de Sesión</h2>
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Contraseña">
        <button type="submit">Iniciar Sesión</button>
    </form>
    <form action="/registrar" method="POST">
        <h2>Registro</h2>
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Contraseña">
        <button type="submit">Registrar</button>
    </form>
</body>
</html>
