<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El juego del destino</title>
</head>
<body>
    <form action="/adivina" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>
        
        <label for="lugar">Lugar:</label>
        <input type="text" id="lugar" name="lugar" required><br><br>
        
        <label for="numero">Número:</label>
        <input type="number" id="numero" name="numero" required><br><br>
        
        <label for="comida">Comida favorita:</label>
        <input type="text" id="comida" name="comida" required><br><br>
        
        <input type="submit" value="Enviar">
    </form>
</body>
</html>